body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(189, 225, 122);
    margin: 0;
}

#noButton {
    position: absolute;
    transition: 0.5s;
}

#yesButton {
    position: static;
    margin-right: 20px;
    display: inline-block;
}

.header_text {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #ffffff;
    color: rgb(233, 48, 48);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(233, 48, 48);
    color: #ffffff;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

@media only screen and (max-width: 414px) {
    body {
        height: 100vh;
    }

    .header_text {
        font-size: 28px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}
